.App {
  text-align: center;
}

.App-logo {
  cursor: pointer;
  font-family: 'Rajdhani', sans-serif;
  margin: 0px;
  font-size: 2em;
  color: #4C6383;
}

.MuiToolbar-root {
  background-color: #fff;
}


@media only screen and (max-width: 1100px) {
  .MuiToolbar-root {
    background-color: red !important;
  }
}