@import 'variables';

.App {
  text-align: center;
}

.App-logo {
  cursor: pointer;
  font-family: 'Rajdhani', sans-serif;
  margin: 0px;
  font-size: 2em;
  color: $primary;
}

.MuiToolbar-root {
  background-color: #fff;
}

img.avatar {
  width: 400px;
  height: auto;
}

.content.highlight {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}