@import 'variables';

.info {
  border-top: 3px solid $secondary;
  border-bottom: 3px solid $secondary;
  padding: 30px;
  background: #fff;
  width: 445px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);

  h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin: 0 5px 0 0;
    color: $secondary;
  }
  p {
    padding: 0 0 10px 60px;
    margin: 0 20px 0 0;
    font-size: 14px;
  }
}