@import 'app';

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// h1, h2, h3, h4, h5, h6, .font-primary {
//   font-family: "Raleway", sans-serif;
// }

// h1.title {
//   font-size: 48px;
//   font-weight: 700;
//   line-height: 56px;
// }

main {
  background-color: rgba(76, 99, 131, 0.18);
}

.container {
  padding: 24px;
  height: 80vh;
  &:nth-child(odd) {
    background-color: #fff;
  }
  &:last-child {
    height: calc(100vh - 64px);
  }
}

.MuiButtonBase-root {
  border-radius: 20px !important;
}