.App {
  text-align: center; }

.App-logo {
  cursor: pointer;
  font-family: 'Rajdhani', sans-serif;
  margin: 0px;
  font-size: 2em;
  color: #1e246e; }

.MuiToolbar-root {
  background-color: #fff; }

img.avatar {
  width: 400px;
  height: auto; }

.content.highlight {
  display: flex;
  flex-direction: row;
  align-items: flex-end; }

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

main {
  background-color: #e7eaed; }

svg g {
  fill: #d50000; }

.btnLink {
  margin-left: 10px; }
  .btnLink.active {
    color: #d50000; }

.container {
  padding: 24px;
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  .container .full-height {
    height: 80vh !important; }
  .container.code {
    background: url("/assets/images/code.jpeg") no-repeat; }
  .container polygon {
    fill: #fff; }
  .container:nth-child(odd) {
    background-color: #fff; }
    .container:nth-child(odd) .footer {
      transform: scaleX(-1); }
    .container:nth-child(odd) polygon {
      fill: #e7eaed; }
  .container:last-child {
    height: calc(20vh - 64px);
    min-height: auto; }

.MuiButtonBase-root {
  border-radius: 20px !important; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.flex {
  display: flex; }
  .flex.row {
    flex-direction: row; }
    .flex.row.center {
      justify-content: center;
      align-items: center; }
    .flex.row.left {
      justify-content: flex-start; }
    .flex.row.right {
      justify-content: flex-end;
      flex-grow: 1; }
    .flex.row.h-center {
      justify-content: center; }
    .flex.row.v-center {
      align-content: center;
      align-items: center; }
  .flex.col {
    flex-direction: column; }
    .flex.col.center {
      justify-content: center;
      align-items: center; }

div .MuiAvatar-colorDefault {
  background-color: #e7eaed; }

.MuiIcon-root {
  text-align: center; }

.up-down {
  animation: up-down 2s ease-in-out; }

@keyframes up-down {
  0% {
    opacity: 0.1;
    transform: translateY(10px);
    transform: translateZ(0) scale(0.5); }
  100% {
    opacity: 1;
    transform: translateY(-10px);
    transform: translateZ(0) scale(1); } }

.zoom {
  animation: zoom 10s ease-in-out; }

@keyframes zoom {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

.fadeInToBottom {
  animation: fadeInToBottom ease-out; }

@keyframes fadeInToBottom {
  0% {
    opacity: 0.5;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
